annotated-types==0.6.0
anyio==4.3.0
certifi==2024.2.2
colorama==0.4.6
distro==1.9.0
exceptiongroup==1.2.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
ollama==0.1.8
packaging==23.2
pydantic==2.6.2
pydantic_core==2.16.3
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
QDarkStyle==3.2.3
QtPy==2.4.1
shiboken6==6.6.2
sniffio==1.3.0
tqdm==4.66.2
typing_extensions==4.9.0
